.mainContainer {
  isolation: isolate;
  .sectionWrapper {
    position: relative;
    overflow: hidden;
    display: flex;
    scroll-behavior: smooth;
    & > * {
      flex: 1 0 100%;
      height: min-content;
    }
  }
  .mainSection {
    padding-block: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    .sectionHeader {
      padding-bottom: 1rem;
    }
    .subSection {
      & + .subSection {
        padding-top: 1rem;
      }

      &__header {
        display: flex;
        justify-content: center;
        padding-bottom: 1rem;
      }
      &__content {
        padding-bottom: 1rem;
      }
    }
    .controls {
      gap: 2rem;
      padding-inline: 1rem;

      .subSection {
        & + .subSection {
          padding-top: 0;
        }
      }
    }
  }
}
.formSteps {
  justify-content: center;
  &__circle {
    padding: 1rem;
    cursor: pointer;
    .circle {
      font-size: 3rem;
      display: flex;
      justify-content: center;
      width: 3rem;
      aspect-ratio: 1;
      border-radius: 50%;
      line-height: 2rem;
      &--active {
        border: 1px solid black;
      }
    }
  }
}
.canvasContainer {
  position: relative;
  margin-top: 1rem;
  .backgroundCanvas {
    position: absolute;
    top: 0;
    left: 0;
  }
  #drawingCanvas {
    z-index: 5;
    pointer-events: none;
    max-width: 90vw;
  }
  #pointsCanvas {
    z-index: 2;
    pointer-events: none;
    max-width: 90vw;
  }
  #imageCanvas {
    z-index: 0;
    max-width: 90vw;
  }
}
.flex {
  &-row {
    display: flex;
    gap: 1rem;
    &-centered {
      justify-content: center;
    }
  }
  &-column {
    display: flex;
    flex-direction: column;
  }
}

.stepsDisplay {
  margin-top: 1rem;
  padding: 1rem;
  font-size: 6rem;
  position: relative;
  background-color: rgba(127, 255, 212, 0.42);
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  & > * {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  &::before {
    position: absolute;
    content: "";
    top: 0;
    left: 50%;
    width: 50%;
    height: 100%;
    background-color: goldenrod;
    z-index: -1;
  }
}
.craftStepDisplay {
  font-size: 3rem;
}
