.mainContainer {
  display: flex;
  flex-wrap: wrap;
  .mainSection {
    &--setup {
      flex: 1 0 200px;
      .formGroup {
        display: flex;
        & > * {
          flex: 1 1 50%;
        }
      }
    }
    &--canvas {
      flex: 0 0 600px;
      .canvasContainer {
        position: relative;
        isolation: isolate;
        .backgroundCanvas {
          position: absolute;
          top: 0;
          left: 0;
        }
        #drawingCanvas {
          z-index: 5;
        }
        #pointsCanvas {
          z-index: 2;
        }
        #imageCanvas {
          z-index: -1;
        }
      }
    }
    &--output {
      flex: 1 0 200px;
    }
  }
}
.sectionHeader {
  padding: 0.5rem;
}
