@import "reset";
@import "variables";

@import "mainContainer";
@import "spinner";

@font-face {
  font-family: "playfair_displayregular";
  src: url("playfairdisplay-variablefont_wght-webfont.woff2") format("woff2"),
    url("playfairdisplay-variablefont_wght-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}
:root {
  font-size: $defaultFontSize;
  font-family: "playfair_displayregular", Arial, sans-serif;
}
body {
  background-color: $clr-main;
  position: relative;
}
h1 {
  font-size: 3rem;
  font-weight: 600;
  z-index: 2;
}
h2 {
  font-size: 2rem;
  font-weight: 600;
}
h3 {
  font-size: 1.5rem;
  font-weight: 600;
}
#app {
  display: flex;
  flex-direction: column;
  height: 100%;
}
header {
  position: relative;
  padding: 1rem;
  min-height: 6rem;
  color: $clr-main;
  background-color: $clr-bg;
}
main {
  min-height: 100%;
  background-color: $clr-main;
  overflow: hidden;
}
button {
  padding: 1rem;
  margin: 0.2rem;
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  max-width: max-content;
  position: relative;
  cursor: pointer;
  z-index: 0;
  transform: translateY(0);
  background-color: $clr-accent;
  box-shadow: 0 3px 0 0 $clr-accent-dark;
  @media (hover: hover) {
    &:hover {
      transform: translateY(-3px);
      box-shadow: 0 6px 0 0 $clr-accent-dark;
    }
  }
  &:active {
    transform: translateY(3px);
    box-shadow: 0 0px 0 0 $clr-accent-dark;
  }
  &:disabled {
    background-color: $clr-accent-disabled;
    box-shadow: 0 3px 0 0 $clr-accent-dark-disabled;
    cursor: not-allowed;
    &:hover {
      transform: none;
      box-shadow: 0 3px 0 0 $clr-accent-dark-disabled;
    }
  }
}
input[type="range"] {
  width: 100%;
  height: 0.5rem;
  border-radius: 1rem;
  background-color: $clr-bg;
}
input[type="file"],
input[type="number"],
select {
  display: block;
  border: 1px solid black;
  padding: 0.5rem;
  border-radius: 0.3rem;
}
.inputSelect {
  display: block;
  padding: 0.5rem;
  border-radius: 0.3rem;
  border: 1px solid black;
  width: 100%;
}
.hidden {
  display: none !important;
}
label {
  cursor: pointer;
  line-height: 2rem;
}
.customLink {
  cursor: pointer;
}
#prev,
#next,
#middle {
  font-size: 5rem;
  aspect-ratio: 1;
}
#prev,
#next {
  font-weight: bold;
}
